.login-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.signin-container {
    height: 28vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: var(--bg-light-black);
}

.head1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 1.6vw;
    color: #fff;
    width: 36vw;
    margin-bottom: 0.5rem;
}

.head2 {
    font-family: Georgia;
    font-size: 2vw;
    color: #fff;
    text-align: left;
    letter-spacing: 0.02em;
    margin-bottom: 2.5rem;
    width: 36vw;
}

.input-fields-container {
    height: 55vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-grey-white);
}
 .hr1 {
    width: 45%;
    margin-right: 0.5rem;
 }

 .hr2 {
    width: 45%;
    margin-left: 0.5rem;
 }
.or-line-container {
    display: flex;
    align-items: end;
    margin-top: 2rem;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 20%;
}

/* .buttons-container * {
    margin-top: 1rem;
} */
.sign-in-button {
    margin-top: 2rem;
}
.login-footer {
    display: flex;
    flex-direction: column;
    padding: 0 6rem 0 6rem;
}

.footer-logo {
    display: flex;
    justify-content: flex-end;
    border-bottom: solid 1px #d5d5d7;
}

.logo {
    height: 6.25rem;
    width: 6.25rem;
    margin: 1rem 1rem 0 0;
}

.copyright {
    font-size: 13px;
    font-weight: normal;
    color: #161513;
    white-space: normal;
    padding-top: 10px;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}